{% extends 'codenoms/base.html' %}
{% load static %}

{% block subtitle %}new post{% endblock %}

{% block content %}
    <form id="new_post_form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="tiptap-editor"></div>
        <input type="hidden" name="content" id="tiptap_content">
        <button type="submit">Publish</button>
    </form>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/tiptap.bundle.js' %}"></script>
{% endblock scripts %}
